In [1]:
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect
engine = create_engine('postgresql://postgres:ApoMac1!@localhost:5432/EmployeeSQL')
connection = engine.connect()

In [2]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['titles', 'employees', 'salaries', 'dept_emp', 'departments', 'dept_manager']

In [3]:
Salaries = Base.classes.salaries
Employees = Base.classes.employees
Titles = Base.classes.titles

In [4]:
session = Session(engine)

results = session.query(Salaries.salary,Titles.title).\
    filter(Salaries.emp_no == Employees.emp_no).\
        filter(Employees.emp_title_id == Titles.title_id).all()

df = pd.DataFrame(results, columns=['salary','title'])

In [5]:
df.head()

   salary            title
0   78228            Staff
1   72488         Engineer
2   42365            Staff
3   55881  Senior Engineer
4   41538  Senior Engineer